<div class="p-6 bg-white rounded-lg">
  <form [formGroup]="proposalForm" (ngSubmit)="submit()" class="flex flex-col gap-8">

    @if (!isEditMode) {
      <app-info-banner title="Registro de nueva propuesta">
        Diligencie los campos requeridos y cargue el documento de la propuesta (Formato A). Una vez registrada, el <strong>Comité del Programa</strong> será notificado para iniciar su evaluación. Por favor, <strong>revise bien la información</strong> antes de confirmar el registro.
      </app-info-banner>
    }

    <section>
      <h3 class="text-primary font-display font-semibold text-size-header-title mb-4 border-b pb-2">Información de la propuesta</h3>
      <div class="flex flex-col gap-4">

        <div class="flex flex-col gap-1">
          <label for="title" class="font-display font-semibold text-size-section title-textbox">Título <span class="text-[#ED7D31]">*</span></label>
          <div class="relative flex items-center">
            <input id="title" type="text" formControlName="title" placeholder="Ej: Frontend de las funcionalidades..."
                   class="font-sans font-normal text-size-body text-textbox p-2 border rounded-md w-full focus:outline-none focus:ring-1 focus:ring-primary"
                   [class.border-[#ED7D31]]="isFieldInvalid('title')"
                   [class.input-success]="proposalForm.get('title')?.valid && proposalForm.get('title')?.touched">
            @if (proposalForm.get('title')?.valid && proposalForm.get('title')?.touched) {
              <span class="material-symbols-outlined success-icon">check_circle</span>
            }
          </div>
          @if (isFieldInvalid('title')) {
            <span class="text-textbox-alert">El título es obligatorio</span>
          }
        </div>

        <div class="flex flex-col gap-1">
          <label for="description" class="font-display font-semibold text-size-section title-textbox">Descripción (Objetivo general) <span class="text-[#ED7D31]">*</span></label>
          <div class="relative flex items-center">
            <input id="description" type="text" formControlName="description" placeholder="Ej: Optimizar los procesos..."
                   class="font-sans font-normal text-size-body text-textbox p-2 border rounded-md w-full focus:outline-none focus:ring-1 focus:ring-primary"
                   [class.border-[#ED7D31]]="isFieldInvalid('description')"
                   [class.input-success]="proposalForm.get('description')?.valid && proposalForm.get('description')?.touched">
            @if (proposalForm.get('description')?.valid && proposalForm.get('description')?.touched) {
              <span class="material-symbols-outlined success-icon">check_circle</span>
            }
          </div>
          @if (isFieldInvalid('description')) {
            <span class="text-textbox-alert">La descripción es obligatoria</span>
          }
        </div>

        <div class="flex flex-col gap-1">
          <label for="modality" class="font-display font-semibold text-size-section title-textbox">Modalidad del trabajo de grado <span class="text-[#ED7D31]">*</span></label>
          <div class="relative flex items-center">
            <select id="modality" formControlName="modality"
                    class="font-sans font-normal text-size-body custom-select p-2 border rounded-md bg-gray-50 w-full focus:outline-none focus:ring-1 focus:ring-primary pr-10"
                    [class.border-[#ED7D31]]="isFieldInvalid('modality')"
                    [class.text-[#777680]]="!proposalForm.get('modality')?.value"
                    [class.text-textbox]="proposalForm.get('modality')?.value"
                    [class.input-success]="proposalForm.get('modality')?.valid && proposalForm.get('modality')?.touched">
              <option value="" disabled>Modalidad</option>
              <option value="Practica profesional">Práctica profesional</option>
              <option value="Trabajo de investigacion">Trabajo de investigación</option>
            </select>
            <span class="material-symbols-outlined select-arrow">arrow_forward_ios</span>
            @if (proposalForm.get('modality')?.valid && proposalForm.get('modality')?.touched) {
              <span class="material-symbols-outlined success-icon mr-8">check_circle</span>
            }
          </div>
          @if (isFieldInvalid('modality')) {
            <span class="text-textbox-alert">Seleccione la modalidad del trabajo</span>
          }
        </div>
      </div>
    </section>

    <section>
      <h3 class="text-primary font-display font-semibold text-size-header-title mb-4 border-b pb-2">Participantes del trabajo de grado</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-4">

        <div class="flex flex-col gap-1">
          <label for="student1" class="font-display font-semibold text-size-section title-textbox">Estudiante 1 <span class="text-[#ED7D31]">*</span></label>
          <div class="relative flex items-center">
            <select id="student1" formControlName="student1"
                    class="font-sans font-normal text-size-body custom-select p-2 border rounded-md w-full bg-gray-50 pr-10 focus:ring-1 focus:ring-primary"
                    [class.border-[#ED7D31]]="isFieldInvalid('student1')"
                    [class.text-[#777680]]="!proposalForm.get('student1')?.value"
                    [class.text-textbox]="proposalForm.get('student1')?.value"
                    [class.input-success]="proposalForm.get('student1')?.valid && proposalForm.get('student1')?.touched">
              <option value="" disabled selected>Seleccione un estudiante</option>
              @for (student of availableStudents(); track student.id) {
                <option [value]="student.id">{{ student.firstName }} {{ student.secondName }} {{ student.lastName }} {{ student.secondLastName }}</option>
              }
            </select>
            <span class="material-symbols-outlined select-arrow">arrow_forward_ios</span>
            @if (proposalForm.get('student1')?.valid && proposalForm.get('student1')?.touched) {
              <span class="material-symbols-outlined success-icon mr-8">check_circle</span>
            }
          </div>
          @if (isFieldInvalid('student1')) {
            <span class="text-textbox-alert">Debe seleccionar al menos un estudiante disponible</span>
          }
        </div>

        <div class="flex flex-col gap-1">
          <label for="student2" class="font-display font-semibold text-size-section title-textbox">Estudiante 2 (Opcional)</label>
          <div class="relative flex items-center">
            <select id="student2" formControlName="student2"
                    class="font-sans font-normal text-size-body custom-select p-2 border rounded-md w-full bg-gray-50 pr-10 focus:ring-1 focus:ring-primary"
                    [class.text-[#777680]]="!proposalForm.get('student2')?.value"
                    [class.text-textbox]="proposalForm.get('student2')?.value">
              <option value="">Ninguno / Seleccione estudiante</option>
              @for (student of filteredStudentsForS2(); track student.id) {
                <option [value]="student.id">{{ student.firstName }} {{ student.secondName }} {{ student.lastName }} {{ student.secondLastName }} </option>
              }
            </select>
            <span class="material-symbols-outlined select-arrow">arrow_forward_ios</span>
          </div>
        </div>

        <div class="flex flex-col gap-1">
          <label for="codirector" class="font-display font-semibold text-size-section title-textbox">Codirector</label>
          <div class="relative flex items-center">
            <select id="codirector" formControlName="codirector"
                    class="font-sans font-normal text-size-body custom-select p-2 border rounded-md w-full bg-gray-50 pr-10 focus:ring-1 focus:ring-primary"
                    [class.text-[#777680]]="!proposalForm.get('codirector')?.value"
                    [class.text-textbox]="proposalForm.get('codirector')?.value">
              <option value="" disabled>Seleccionar codirector</option>
              @for (teacher of teachers(); track teacher.id) {
                <option [value]="teacher.id">{{ teacher.firstName }} {{ teacher.lastName }}</option>
              }
            </select>
            <span class="material-symbols-outlined select-arrow">arrow_forward_ios</span>
          </div>
        </div>

        @if (showAdvisorField) {
          <div class="flex flex-col gap-1">
            <label for="advisor" class="font-display font-semibold text-size-section title-textbox">Asesor <span class="text-[#ED7D31]">*</span></label>
            <div class="relative flex items-center">
              <select id="advisor" formControlName="advisor"
                      class="font-sans font-normal text-size-body custom-select p-2 border rounded-md w-full bg-gray-50 pr-10 focus:ring-1 focus:ring-primary"
                      [class.border-[#ED7D31]]="isFieldInvalid('advisor')"
                      [class.text-[#777680]]="!proposalForm.get('advisor')?.value"
                      [class.text-textbox]="proposalForm.get('advisor')?.value"
                      [class.input-success]="proposalForm.get('advisor')?.valid && proposalForm.get('advisor')?.touched">
                <option value="" disabled>Seleccionar asesor</option>
                @for (advisor of advisors(); track advisor.id) {
                  <option [value]="advisor.id">{{ advisor.firstName }} {{ advisor.lastName }}</option>
                }
              </select>
              <span class="material-symbols-outlined select-arrow">arrow_forward_ios</span>
              @if (proposalForm.get('advisor')?.valid && proposalForm.get('advisor')?.touched) {
                <span class="material-symbols-outlined success-icon mr-8">check_circle</span>
              }
            </div>
            @if (isFieldInvalid('advisor')) {
              <span class="text-textbox-alert">Debe seleccionar un asesor para la práctica</span>
            }
          </div>
        }
      </div>
    </section>

    <section class="mt-2">
      <h3 class="font-display font-semibold text-primary text-size-header-title mb-6 border-b pb-2">Archivos adjuntos</h3>

      @if (!attachedFile.hasFile) {
        <div class="information-block p-4 bg-[#F2F6FC] border border-[#E5E7EB] rounded-lg text-sm text-[#777680] mb-6">
          No ha sido cargado ningún archivo, para realizar el registro de la propuesta de grado debe cargar el formato de propuesta (Formato A) para poder continuar con el proceso.
        </div>
      }

      <div class="flex flex-col gap-4">
        <div class="flex items-center justify-between p-4 bg-white border rounded-xl shadow-sm"
             [class.border-[#777680]]="!isFieldInvalid('document')"
             [class.border-[#ED7D31]]="isFieldInvalid('document')"
             [class.border-l-4]="attachedFile.hasFile"
             [class.border-l-state-approved]="attachedFile.hasFile">

          <div class="flex items-center gap-3">
            <span class="material-symbols-outlined text-4xl"
                  [class.text-state-approved]="attachedFile.hasFile"
                  [class.text-[#ED7D31]]="isFieldInvalid('document')"
                  [class.text-[#777680]]="!attachedFile.hasFile && !isFieldInvalid('document')">
              {{ attachedFile.hasFile ? 'task' : 'picture_as_pdf' }}
            </span>
            <div class="flex flex-col">
              <span class="text-size-body font-bold"
                    [class.text-primary]="attachedFile.hasFile"
                    [class.text-[#ED7D31]]="isFieldInvalid('document')">
                {{ attachedFile.name || 'Formato de propuesta (Formato A)' }}
              </span>
              <span class="text-size-role-footer text-[#777680]">Documento de la propuesta (Obligatorio)</span>
              @if (isFieldInvalid('document')) {
                <span class="text-size-role-footer text-textbox-alert mt-1">Este archivo es requerido</span>
              }
            </div>
          </div>

          @if (attachedFile.hasFile) {
            <button type="button" (click)="removeFile()" class="text-[#777680] hover:text-[#DB141C]">
              <span class="material-symbols-outlined">delete</span>
            </button>
          } @else {
            <app-button-component
              label="Cargar propuesta(Formato A)"
              variant="secondary"
              type="button"
              (onClick)="uploadModalOpen = true"
              (click)="uploadModalOpen = true">
            </app-button-component>
          }
        </div>
      </div>

      <div class="flex gap-4 justify-end mt-10">
        <app-button-component
          [label]="isEditMode ? 'Actualizar propuesta' : 'Registrar propuesta'"
          variant="primary"
          type="submit">
        </app-button-component>
      </div>
    </section>

  </form>
</div>

<app-file-upload-modal
  [isOpen]="uploadModalOpen"
  [description]="'Subir formato A de propuesta de grado'"
  [uploadedBy]="'Cargado por el estudiante'"
  (onFileUploaded)="handleFileUploaded($event)"
  (onClose)="uploadModalOpen = false"
></app-file-upload-modal>
