<div class="w-full">
  <div class="bg-white rounded-lg shadow-sm p-6">

    <div class="mb-6">
      <button (click)="facade.goBack()" class="flex items-center gap-2 text-navy-900 font-bold group w-fit">
        <span class="material-symbols-outlined text-[#000066] text-lg group-hover:-translate-x-1 transition-transform">
          arrow_back
        </span>
        <span class="return-arrow-option">Regresar</span>
      </button>
    </div>

    <app-tabs
      [tabs]="facade.tabs"
      [activeTab]="facade.activeTab()"
      (tabChange)="facade.activeTab.set($event)"
    ></app-tabs>

    <div class="mt-6">
      <app-table-component
        [value]="facade.currentTableData()"
        [columns]="facade.currentColumns()"
        [paginator]="true"
        [headerButtons]="facade.currentHeaderButtons()"
        (headerButtonClick)="facade.handleHeaderButton($event)"
        (actionClick)="facade.handleTableAction($event)"
        [emptyMessage]="facade.emptyMessage()"
      ></app-table-component>
    </div>

  </div>
</div>

<app-file-upload-modal
  [isOpen]="facade.isUploadModalOpen()"
  [description]="facade.uploadModalDescription()"
  [uploadedBy]="facade.uploadModalUserRole()"
  (onFileUploaded)="facade.onFileSelected($event)"
  (onClose)="facade.isUploadModalOpen.set(false)"
></app-file-upload-modal>

<app-confirmation-action-modal
  [isOpen]="facade.isConfirmModalOpen()"
  [description]="facade.confirmModalDescription()"
  (confirm)="facade.confirmUpload()"
  (onClose)="facade.cancelUpload()"
></app-confirmation-action-modal>
