<div class="p-6 bg-white rounded-lg">
  <form [formGroup]="userForm" (ngSubmit)="submit()" class="flex flex-col gap-8">

    <section>
      <h3 class="text-primary font-display font-semibold text-size-header-title mb-4 border-b pb-2">Datos personales</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-4">

        <!-- Tipo de documento -->
        <div class="flex flex-col gap-1">
          <label for="idType" class="title-textbox">Tipo de documento de identidad <span class="text-[#ED7D31]">*</span></label>
          <div class="relative flex items-center">
            <select
              id="idType"
              formControlName="idType"
              class="font-sans font-normal text-size-body custom-select text-textbox p-2 border rounded-md bg-gray-50 w-full focus:outline-none focus:ring-1 focus:ring-primary pr-10"
              [class.border-[#ED7D31]]="isFieldInvalid('idType')"
              [class.input-success]="userForm.get('idType')?.valid && userForm.get('idType')?.touched"
            >
              <option value="" disabled selected>Tipo de documento</option>
              <option value="CC">Cédula de Ciudadanía</option>
              <option value="CE">Cédula de extranjería</option>
              <option value="PASSPORT">Pasaporte</option>
            </select>
            <span class="material-symbols-outlined select-arrow">arrow_forward_ios</span>
            @if (userForm.get('idType')?.valid && userForm.get('idType')?.touched) {
              <span class="material-symbols-outlined success-icon mr-8">check_circle</span>
            }
          </div>
          @if (isFieldInvalid('idType')) {
            <span class="text-textbox-alert">Seleccione un tipo de documento</span>
          }
        </div>

        <!-- Número de documento -->
        <div class="flex flex-col gap-1">
          <label for="idNumber" class="title-textbox">Número de documento de identidad <span class="text-[#ED7D31]">*</span></label>
          <div class="relative flex items-center">
            <input id="idNumber" type="number" formControlName="idNumber" placeholder="Número de documento"
              class="font-sans font-normal text-size-body text-textbox p-2 border rounded-md w-full focus:outline-none focus:ring-1 focus:ring-primary"
              [class.border-[#ED7D31]]="isFieldInvalid('idNumber')"
              [class.input-success]="userForm.get('idNumber')?.valid && userForm.get('idNumber')?.touched">
            @if (userForm.get('idNumber')?.valid && userForm.get('idNumber')?.touched) {
              <span class="material-symbols-outlined success-icon">check_circle</span>
            }
          </div>
          @if (isFieldInvalid('idNumber')) {
            <span class="text-textbox-alert">Ingrese un número válido</span>
          }
        </div>

        <!-- Primer nombre -->
        <div class="flex flex-col gap-1">
          <label for="firstName" class="title-textbox">Primer nombre <span class="text-[#ED7D31]">*</span></label>
          <div class="relative flex items-center">
            <input id="firstName" type="text" formControlName="firstName" placeholder="Primer nombre"
                   class="font-sans font-normal text-size-body text-textbox p-2 border rounded-md w-full focus:outline-none focus:ring-1 focus:ring-primary"
                   [class.border-[#ED7D31]]="isFieldInvalid('firstName')"
                   [class.input-success]="userForm.get('firstName')?.valid && userForm.get('firstName')?.touched">
            @if (userForm.get('firstName')?.valid && userForm.get('firstName')?.touched) {
              <span class="material-symbols-outlined success-icon">check_circle</span>
            }
          </div>
          @if (isFieldInvalid('firstName')) {
            <span class="text-textbox-alert">El primer nombre es obligatorio</span>
          }
        </div>

        <!-- Segundo nombre (Opcional) -->
        <div class="flex flex-col gap-1">
          <label for="secondName" class="title-textbox">Segundo nombre</label>
          <div class="relative flex items-center">
            <input id="secondName" type="text" formControlName="secondName" placeholder="Segundo nombre"
                   class="font-sans font-normal text-size-body text-textbox p-2 border rounded-md w-full focus:outline-none focus:ring-1 focus:ring-primary"
                   [class.input-success]="userForm.get('secondName')?.value && userForm.get('secondName')?.valid">
            @if (userForm.get('secondName')?.value && userForm.get('secondName')?.valid) {
              <span class="material-symbols-outlined success-icon">check_circle</span>
            }
          </div>
        </div>

        <!-- Primer apellido -->
        <div class="flex flex-col gap-1">
          <label for="lastName" class="title-textbox">Primer apellido <span class="text-[#ED7D31]">*</span></label>
          <div class="relative flex items-center">
            <input id="lastName" type="text" formControlName="lastName" placeholder="Primer apellido"
                   class="font-sans font-normal text-size-body text-textbox p-2 border rounded-md w-full focus:outline-none focus:ring-1 focus:ring-primary"
                   [class.border-[#ED7D31]]="isFieldInvalid('lastName')"
                   [class.input-success]="userForm.get('lastName')?.valid && userForm.get('lastName')?.touched">
            @if (userForm.get('lastName')?.valid && userForm.get('lastName')?.touched) {
              <span class="material-symbols-outlined success-icon">check_circle</span>
            }
          </div>
          @if (isFieldInvalid('lastName')) {
            <span class="text-textbox-alert">El primer apellido es obligatorio</span>
          }
        </div>

        <!-- Segundo apellido -->
        <div class="flex flex-col gap-1">
          <label for="secondLastName" class="title-textbox">Segundo apellido <span class="text-[#ED7D31]">*</span></label>
          <div class="relative flex items-center">
            <input id="secondLastName" type="text" formControlName="secondLastName" placeholder="Segundo apellido"
                   class="font-sans font-normal text-size-body text-textbox p-2 border rounded-md w-full focus:outline-none focus:ring-1 focus:ring-primary"
                   [class.border-[#ED7D31]]="isFieldInvalid('secondLastName')"
                   [class.input-success]="userForm.get('secondLastName')?.valid && userForm.get('secondLastName')?.touched">
            @if (userForm.get('secondLastName')?.valid && userForm.get('secondLastName')?.touched) {
              <span class="material-symbols-outlined success-icon">check_circle</span>
            }
          </div>
          @if (isFieldInvalid('secondLastName')) {
            <span class="text-textbox-alert">El segundo apellido es obligatorio</span>
          }
        </div>
      </div>
    </section>

    <section>
      <h3 class="text-primary font-display font-semibold text-size-header-title mb-4 border-b pb-2">Datos institucionales</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-4">

        <!-- Código -->
        <div class="flex flex-col gap-1">
          <label for="codeNumber" class="title-textbox">Código<span class="text-[#ED7D31]">*</span></label>
          <div class="relative flex items-center">
            <input id="codeNumber" type="number" formControlName="codeNumber" placeholder="Código"
              class="font-sans font-normal text-size-body text-textbox p-2 border rounded-md w-full focus:outline-none focus:ring-1 focus:ring-primary"
              [class.border-[#ED7D31]]="isFieldInvalid('codeNumber')"
              [class.input-success]="userForm.get('codeNumber')?.valid && userForm.get('codeNumber')?.touched">
            @if (userForm.get('codeNumber')?.valid && userForm.get('codeNumber')?.touched) {
              <span class="material-symbols-outlined success-icon">check_circle</span>
            }
          </div>
          @if (isFieldInvalid('codeNumber')) {
            <span class="text-textbox-alert">Ingrese un código válido</span>
          }
        </div>

        <!-- Rol -->
        <div class="flex flex-col gap-1">
          <label for="rolesBtn" id="rolesLabel" class="title-textbox">Rol <span class="text-[#ED7D31]">*</span></label>
          <div class="relative flex items-center ">
            <button
              id="rolesBtn"
              type="button"
              (click)="openRolesModal()"
              class="font-sans font-normal text-size-body text-textbox p-2 border rounded-md bg-gray-50 flex justify-between items-center cursor-pointer min-h-10.5 w-full focus:ring-1 focus:ring-primary focus:outline-none"
              [class.border-[#ED7D31]]="isFieldInvalid('roles')"
              [class.input-success]="userForm.get('roles')?.valid && userForm.get('roles')?.touched"
            >
              <span [class.text-[#777680]]="!selectedRolesDisplay">
                {{ selectedRolesDisplay || 'Seleccione los roles' }}
              </span>
              <span class="material-symbols-outlined add-circle">add_circle</span>
            </button>
            @if (userForm.get('roles')?.valid && userForm.get('roles')?.touched) {
              <span class="material-symbols-outlined success-icon mr-10">check_circle</span>
            }
          </div>
          @if (isFieldInvalid('roles')) {
            <span class="text-textbox-alert">Debe seleccionar al menos un rol</span>
          }
        </div>

        <!-- Correo -->
        <div class="flex flex-col gap-1">
          <label for="email" class="title-textbox">Correo institucional <span class="text-[#ED7D31]">*</span></label>
          <div class="relative flex items-center">
            <input id="email" type="email" formControlName="email" placeholder="Correo institucional"
                   class="font-sans font-normal text-size-body text-textbox p-2 border rounded-md w-full focus:outline-none focus:ring-1 focus:ring-primary"
                   [class.border-[#ED7D31]]="isFieldInvalid('email')"
                   [class.input-success]="userForm.get('email')?.valid && userForm.get('email')?.touched">
            @if (userForm.get('email')?.valid && userForm.get('email')?.touched) {
              <span class="material-symbols-outlined success-icon">check_circle</span>
            }
          </div>
          @if (isFieldInvalid('email')) {
            <span class="text-textbox-alert">Formato de correo inválido</span>
          }
        </div>

        <!-- Contraseña -->
        <div class="flex flex-col gap-1">
          <label for="password" class="title-textbox">Contraseña @if (!isEditMode) {<span class="text-[#ED7D31]">*</span>}</label>
          <div class="relative flex items-center">
            <input id="password" type="password" formControlName="password" placeholder="Contraseña"
                   class="font-sans font-normal text-size-body text-textbox p-2 border rounded-md w-full focus:outline-none focus:ring-1 focus:ring-primary"
                   [class.border-[#ED7D31]]="isFieldInvalid('password')"
                   [class.input-success]="userForm.get('password')?.valid && userForm.get('password')?.touched">
            @if (userForm.get('password')?.valid && userForm.get('password')?.touched) {
              <span class="material-symbols-outlined success-icon">check</span>
            }
          </div>
          @if (isFieldInvalid('password')) {
            <span class="text-textbox-alert">Mínimo 6 caracteres</span>
          }
        </div>
      </div>
    </section>

    <div class="flex justify-end gap-2">
      <app-button-component
        [label]="isEditMode ? 'Actualizar usuario' : 'Registrar usuario'"
        variant="primary"
        type="submit"
      ></app-button-component>
    </div>

    <app-roles-selection-modal
      [(isOpen)]="isRolesModalOpen"
      [roles]="currentRolesForModal"
      (onSaved)="handleRolesSaved($event)"
    ></app-roles-selection-modal>
  </form>
</div>
