<div class="w-full max-w-5xl mx-auto p-4 md:p-8 bg-[#F8F9FA] min-h-screen">

  <button
    (click)="goBack()"
    class="flex items-center gap-1 text-primary font-bold text-sm mb-6 hover:opacity-80 transition-opacity"
  >
    <span class="material-symbols-outlined text-size-section font-bold">arrow_back</span>
    Regresar
  </button>

  @if (isDataLoading()) {
    <div class="flex justify-center items-center h-60">
      <div class="animate-spin rounded-full h-10 w-10 border-t-2 border-b-2 border-primary"></div>
    </div>
  } @else if (selectedPreliminaryDraft()) {
    <app-assign-evaluators-form
      [preliminaryDraft]="selectedPreliminaryDraft()!"
      (onSave)="handleAssign($event)"
    ></app-assign-evaluators-form>
  }

</div>

<app-confirmation-action-modal
  [isOpen]="confirmState().isOpen"
  description="¿Está seguro de asignar a estos docentes como jurados evaluadores? Una vez confirmada la asignación, el plazo de evaluación de 10 días hábiles comenzará a correr."
  (onClose)="cancelAssignment()"
  (confirm)="confirmAssignment()"
></app-confirmation-action-modal>
