<div class="w-full min-h-screen bg-[#F8F9FA] p-4 md:p-8">

  <div class="max-w-7xl mx-auto flex flex-col gap-6">

    <button
      (click)="goBack()"
      class="flex items-center gap-1 text-primary font-bold text-sm hover:opacity-80 transition-opacity w-fit"
    >
      <span class="material-symbols-outlined text-size-section font-bold">arrow_back</span>
      Regresar
    </button>

    @if (isDataLoading()) {
      <div class="flex justify-center items-center h-60">
        <div class="animate-spin rounded-full h-10 w-10 border-t-2 border-b-2 border-primary"></div>
      </div>
    } @else if (selectedPreliminaryDraft()) {
      <app-assign-evaluators-form
        [preliminaryDraft]="selectedPreliminaryDraft()!"
        (onSave)="handleAssign($event)"
      ></app-assign-evaluators-form>
    }
  </div>

</div>

<app-confirmation-action-modal
  [isOpen]="confirmState().isOpen"
  description="¿Está seguro de asignar a estos docentes como jurados evaluadores? Una vez confirmada la asignación, el plazo de evaluación de 10 días hábiles comenzará a correr."
  (onClose)="cancelAssignment()"
  (confirm)="confirmAssignment()"
></app-confirmation-action-modal>
