<div class="w-full">
  <div class="bg-white rounded-lg shadow-sm p-6">

    <div class="mb-6">
      <button (click)="goBack()" class="flex items-center gap-2 text-navy-900 font-bold group">
        <span class="material-symbols-outlined text-[#000066] font-semibold text-size-sidebar-title font-display group-hover:-translate-x-1 transition-transform">
          arrow_back
        </span>
        <span class="return-arrow-option">Regresar</span>
      </button>
    </div>

    <app-table-component
      [value]="documentsTableData()"
      [columns]="columns"
      [paginator]="true"
      [headerButtons]="headerButtons()"
      (headerButtonClick)="handleHeaderButton()"
      (actionClick)="handleTableAction($event)"
      emptyMessage="No han sido registrados documentos de propuesta en el sistema"
    ></app-table-component>

  </div>
</div>

<app-file-upload-modal
  [isOpen]="fileModalOpen()"
  description="Seleccione el archivo PDF de la propuesta corregida"
  uploadedBy="Estudiante"
  (onFileUploaded)="onFileSelected($event)"
  (onClose)="fileModalOpen.set(false)"
></app-file-upload-modal>

<app-confirmation-action-modal
  [isOpen]="confirmModalOpen()"
  description="¿Está seguro de cargar esta corrección? El estado cambiará a 'En revisión'."
  (confirm)="confirmUpload()"
  (onClose)="cancelUpload()"
></app-confirmation-action-modal>
