<div class="mb-4">
  <button
    (click)="goBack()"
    class="flex items-center gap-2 text-navy-900 hover:text-navy-700 transition-colors font-bold group"
  >
    <span class="material-symbols-outlined text-[#000066] font-semibold text-size-sidebar-title font-display group-hover:-translate-x-1 transition-transform">
      arrow_back
    </span>
    <span class="return-arrow-option">Regresar</span>
  </button>
</div>

@if (proposalToEdit()) {
  <app-info-banner title="Edición de propuesta registrada" class="mb-6 block">
    Modifique la información necesaria o actualice el documento adjunto. Tenga en cuenta que los cambios guardados se <strong>reflejarán inmediatamente</strong> en el sistema para todos los participantes del trabajo de grado.
  </app-info-banner>

  <app-proposal-form
    [proposal]="proposalToEdit()"
    (onSubmit)="handleUpdate($event)"
  ></app-proposal-form>
} @else {
  <div class="flex flex-col items-center justify-center p-20 bg-white rounded-lg border border-dashed border-gray-300">
    <span class="material-symbols-outlined text-4xl text-gray-400 animate-spin">sync</span>
    <p class="mt-2 text-gray-500">Cargando propuesta...</p>
  </div>
}

<app-confirmation-action-modal
  [isOpen]="confirmState.show"
  description="¿Está seguro de guardar los cambios realizados en la propuesta?"
  (onClose)="cancelUpdate()"
  (confirm)="confirmUpdate()"
></app-confirmation-action-modal>
