<footer class="bg-[#EEEBEB] text-[#666666] font-display">
  <div class="h-1.5 w-full flex">
    <div class="h-full w-1/5 bg-[#DB141C]"></div>
    <div class="h-full w-1/5 bg-[#FF8A00]"></div>
    <div class="h-full w-1/5 bg-[#FBD000]"></div>
    <div class="h-full w-1/5 bg-[#20AAE5]"></div>
    <div class="h-full w-1/5 bg-[#5A0DBA]"></div>
  </div>

  <div class="max-w-350 mx-auto py-2 px-12">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-start mb-8">

      <div class="flex flex-col">
        <p class="font-bold font-display text-[#777680] text-size-header-title">Universidad del Cauca</p>
        <p class="font-semibold font-display text-[#777680] text-size-body">NIT. 891500319-2</p>
      </div>

      <div class="flex flex-col text-right pr-8 border-r border-gray-300 h-full justify-center">
        <p class="font-normal font-display text-[#777680] text-size-body">Sistema de gestión de trabajos de grado</p>
        <p class="font-normal font-display text-[#777680] text-size-body">Nombre de Vicerrectoría</p>
        <p class="font-normal font-display text-[#777680] text-size-body">ejemplocorreo@unicauca.edu.co</p>
      </div>

      <div class="flex flex-col text-left pl-4">
        <p class="font-normal font-display text-[#777680] text-size-body">División de Tecnologías de la Información y las Comunicaciones - TIC</p>
        <p class="font-normal font-display text-[#777680] text-size-body">Versión {{ version }}</p>
        <p class="font-normal font-display text-[#777680] text-size-body">{{ currentYear }}</p>
      </div>
    </div>

    <hr class="border-gray-300 mb-6">

    <div class="font-normal font-display text-[#777680] text-sm text-[11px] text-center flex flex-col gap-2">
      <p>Institución con Acreditación de Alta Calidad por 8 años Resolución MEN 6235 de 2019 - Vigilada MinEducación</p>
      <div class="font-normal font-display text-[#777680] flex justify-center items-center gap-4 flex-wrap">
        <a href="#" class="hover:text-primary transition-colors">Política de Protección de Datos Personales</a>
        <span class="text-gray-400">|</span>
        <a href="#" class="hover:text-primary transition-colors">Política de seguridad de la información</a>
        <span class="text-gray-400">|</span>
        <a href="#" class="hover:text-primary transition-colors">Comunícate con nuestro Soporte Técnico</a>
      </div>
    </div>
  </div>
</footer>
