:host {
  display: block;
  height: 100%;
}

.bg-unicauca-blue {
  background-color: var(--color-primary);
}

.menu-link {
  color: #ffffff;
  background-color: transparent;
  border-left: 4px solid transparent;
}

.menu-link:hover {
  background-color: var(--color-primary-hover);
  border-left-color: #93c5fd;
}

.active-link {
  background-color: var(--color-primary-active);
  border-left: 4px solid #ffffff;
}

.menu-link i {
  color: #ffffff;
}

.menu-link:hover i {
  color: #bfdbfe;
}

.active-link i {
  color: #93c5fd;
}
