<app-table-component
  [value]="facade.tableData()"
  [headerButtons]="facade.headerButtons()"
  [columns]="columns"
  [paginator]="true"
  [filterFields]="filterFields"
  (actionClick)="handleTableAction($event)"
  (headerButtonClick)="handleHeaderButton($event)"
  emptyMessage="No hay anteproyectos registrados en el sistema"
></app-table-component>

<app-description-modal
  [isOpen]="descriptionModal.show"
  [titleDescription]="descriptionModal.title"
  [description]="descriptionModal.content"
  (onClose)="descriptionModal.show = false"
></app-description-modal>

<app-confirmation-action-modal
  [isOpen]="deleteState.show"
  [description]="'¿Está seguro de eliminar el anteproyecto: ' + deleteState.title + '?'"
  (onClose)="cancelDelete()"
  (confirm)="confirmDelete()"
></app-confirmation-action-modal>
