<div class="mb-4">
  <button
    (click)="goBack()"
    class="flex items-center gap-2 text-navy-900 hover:text-[#000066] transition-colors font-bold group"
  >
    <span class="material-symbols-outlined text-[#000066] font-semibold text-size-sidebar-title font-display group-hover:-translate-x-1 transition-transform">
      arrow_back
    </span>
    <span class="return-arrow-option">Regresar</span>
  </button>
</div>

<app-proposal-form (onSubmit)="handleCreateProposal($event)"></app-proposal-form>

<app-confirmation-action-modal
  [isOpen]="isModalOpen()"
  description="¿Está seguro de registrar esta propuesta? Verifique que el formato adjunto y los participantes sean correctos."
  (onClose)="cancelCreation()"
  (confirm)="confirmCreation()"
></app-confirmation-action-modal>
