<div class="mb-6">
  <button (click)="facade.goBack()" class="flex items-center gap-2 text-navy-900 font-bold group">
    <span class="material-symbols-outlined text-[#000066] group-hover:-translate-x-1 transition-transform">arrow_back</span>
    <span>Regresar</span>
  </button>
</div>

@if (facade.filteredPreliminaryDraft(); as draft) {
  <app-review-presentations-faculty-council-form
    [preliminaryDraft]="draft"
    (onSaveEvaluation)="facade.handleRequestConfirmation($event)"
    (onDownloadFile)="facade.downloadFile($event)">
  </app-review-presentations-faculty-council-form>
}

<app-confirmation-action-modal
  [isOpen]="facade.isConfirmModalOpen()"
  description="¿Está seguro de registrar la decisión del consejo de facultad? Esta acción actualizará el estado definitivo del trabajo de grado."
  (onClose)="facade.isConfirmModalOpen.set(false)"
  (confirm)="facade.processCouncilDecision()">
</app-confirmation-action-modal>
