<app-table-component
  [value]="tableData()"
  [columns]="columns"
  [headerButtons]="headerButtons"
  [paginator]="true"
  (actionClick)="handleTableAction($event)"
  (headerButtonClick)="handleHeaderButton($event)"
  emptyMessage="No se encontraron trabajos de grado activos asociados a su usuario en el sistema"
></app-table-component>

<app-description-modal
  [isOpen]="descriptionModal().isOpen"
  [titleDescription]="descriptionModal().title"
  [description]="descriptionModal().content"
  (onClose)="descriptionModal.set({isOpen: false, title: '', content: ''})"
></app-description-modal>

<app-confirmation-action-modal
  [isOpen]="isConfirmModalOpen()"
  description="¿Está seguro de reactivar este trabajo de grado? Esta acción levantará la suspensión y permitirá que el proceso continúe."
  (onClose)="isConfirmModalOpen.set(false)"
  (confirm)="confirmReactivation()">
</app-confirmation-action-modal>
