<app-table-component
  [value]="facade.tableData()"
  [columns]="columns"
  [headerButtons]="facade.headerButtons()"
  [paginator]="true"
  [filterFields]="filterFields"
  (actionClick)="handleTableAction($event)"
  (headerButtonClick)="handleHeaderButton($event)"
  emptyMessage="No se encontraron trabajos de grado activos asociados a su usuario en el sistema"
></app-table-component>

<app-description-modal
  [isOpen]="descriptionModal.show"
  [titleDescription]="descriptionModal.title"
  [description]="descriptionModal.content"
  (onClose)="descriptionModal.show = false"
></app-description-modal>

<app-confirmation-action-modal
  [isOpen]="reactivateState.show"
  description="¿Está seguro de reactivar este trabajo de grado? Esta acción levantará la suspensión y permitirá que el proceso continúe."
  (onClose)="cancelReactivation()"
  (confirm)="confirmReactivation()">
</app-confirmation-action-modal>
