<div class="p-6 bg-white rounded-lg w-full">
  <h2 class="text-3xl font-display font-bold text-[#143296] mb-8 text-center md:text-left">
    Inicio de sesión
  </h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">

    <div class="flex flex-col gap-1">
      <label for="email" class="title-textbox">
        Correo institucional <span class="text-[#ED7D31]">*</span>
      </label>
      <div class="relative flex items-center">
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="ejemplo@unicauca.edu.co"
          class="text-textbox p-2 border rounded-md w-full focus:outline-none focus:ring-1 focus:ring-primary"
          [class.input-success]="loginForm.get('email')?.valid && loginForm.get('email')?.touched"
        >
        @if (loginForm.get('email')?.valid && loginForm.get('email')?.touched) {
          <span class="material-symbols-outlined success-icon absolute right-3">check_circle</span>
        }
      </div>
      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
        <span class="text-textbox-alert">Por favor ingresa un correo institucional válido</span>
      }
    </div>

    <div class="flex flex-col gap-1">
      <label for="password" class="title-textbox">
        Contraseña <span class="text-[#ED7D31]">*</span>
      </label>
      <div class="relative flex items-center">
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Ingresa tu contraseña"
          class="text-textbox p-2 border rounded-md w-full focus:outline-none focus:ring-1 focus:ring-primary"
          [class.input-success]="loginForm.get('password')?.valid && loginForm.get('password')?.touched"
        >
        @if (loginForm.get('password')?.valid && loginForm.get('password')?.touched) {
          <span class="material-symbols-outlined success-icon absolute right-3">check_circle</span>
        }
      </div>
      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        <span class="text-textbox-alert">Por favor ingrese la contraseña</span>
      }
    </div>

    <div class="flex justify-end gap-2 mt-4">
      <app-button-component
        [label]="isLoading() ? 'Verificando...' : 'Iniciar sesión'"
        variant="primary"
        type="submit"
        [disabled]="loginForm.invalid || isLoading()"
      ></app-button-component>
    </div>

  </form>
</div>
