<div class="p-4">
  <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-8">

    <app-info-banner title="Asignación de jurados evaluadores">
      Seleccione los docentes encargados de realizar la evaluación de este anteproyecto. Recuerde <strong>verificar los posibles conflictos de interés</strong> antes de proceder con la asignación. Una vez confirmada, los jurados serán notificados para iniciar su proceso de revisión.
    </app-info-banner>

    <section>
      <h3 class="text-primary font-display font-semibold text-size-header-title mb-4 border-b pb-2">
        Información del anteproyecto
      </h3>

      <div class="flex flex-col gap-4">
        <ng-template #readOnlyField let-label="label" let-value="value">
          <div class="flex flex-col gap-1">
            <span class="font-display font-semibold text-primary text-size-section">
              {{ label }}
            </span>
            <input type="text" [value]="value" disabled
                   class="information-block p-2 border rounded-md text-[#777680] w-full cursor-not-allowed font-sans text-size-body">
          </div>
        </ng-template>

        <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Título', value: preliminaryDraft().proposalData.title }"></ng-container>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Fecha de carga', value: (preliminaryDraft().createdData | date:'dd - MM - yyyy') }"></ng-container>
            <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Modalidad del trabajo de grado', value: preliminaryDraft().proposalData.modality }"></ng-container>
        </div>

        <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Estudiante', value: getAuthorsNames(preliminaryDraft().proposalData.authors) }"></ng-container>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Director', value: getMemberFullName(preliminaryDraft().proposalData.director) }"></ng-container>
            @if (preliminaryDraft().proposalData.codirector) {
                <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Codirector', value: getMemberFullName(preliminaryDraft().proposalData.codirector) }"></ng-container>
            }
        </div>

        @if (preliminaryDraft().proposalData.advisor) {
          <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Asesor', value: getMemberFullName(preliminaryDraft().proposalData.advisor) }"></ng-container>
        }

        <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Estado', value: preliminaryDraft().state }"></ng-container>
      </div>
    </section>

    <section>
      <h3 class="text-primary font-display font-semibold text-size-header-title mb-4 border-b pb-2">
        Asignación de jurados
      </h3>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-4">

        <div class="flex flex-col gap-1">
          <span class="font-display font-semibold text-size-section title-textbox">
            Evaluador 1 <span class="text-[#ED7D31]">*</span>
          </span>
          <div class="relative flex items-center">
            <select
              formControlName="evaluator1"
              class="font-sans font-normal text-size-body custom-select p-2 border rounded-md bg-gray-50 w-full focus:outline-none focus:ring-1 focus:ring-primary pr-10"
              [class.border-[#ED7D31]]="isFieldInvalid('evaluator1')"
              [class.text-[#777680]]="!form.get('evaluator1')?.value"
              [class.text-textbox]="form.get('evaluator1')?.value"
              [class.input-success]="form.get('evaluator1')?.valid && form.get('evaluator1')?.touched"
            >
              <option value="" disabled selected>Seleccione evaluador</option>
              @for (user of availableEvaluators(); track user.id) {
                <option [value]="user.id">{{ getMemberFullName(user) }}</option>
              }
            </select>
            <span class="material-symbols-outlined select-arrow">arrow_forward_ios</span>
            @if (form.get('evaluator1')?.valid && form.get('evaluator1')?.touched) {
              <span class="material-symbols-outlined success-icon mr-8">check_circle</span>
            }
          </div>
          @if (isFieldInvalid('evaluator1')) {
            <span class="text-textbox-alert">Debe seleccionar el primer evaluador</span>
          }
        </div>

        <div class="flex flex-col gap-1">
          <span class="font-display font-semibold text-size-section title-textbox">
            Evaluador 2 <span class="text-[#ED7D31]">*</span>
          </span>
          <div class="relative flex items-center">
            <select
              formControlName="evaluator2"
              class="font-sans font-normal text-size-body custom-select p-2 border rounded-md bg-gray-50 w-full focus:outline-none focus:ring-1 focus:ring-primary pr-10"
              [class.border-[#ED7D31]]="isFieldInvalid('evaluator2')"
              [class.text-[#777680]]="!form.get('evaluator2')?.value"
              [class.text-textbox]="form.get('evaluator2')?.value"
              [class.input-success]="form.get('evaluator2')?.valid && form.get('evaluator2')?.touched"
            >
              <option value="" disabled selected>Seleccione evaluador</option>
              @for (user of filteredEvaluatorsForE2(); track user.id) {
                <option [value]="user.id">{{ getMemberFullName(user) }}</option>
              }
            </select>
            <span class="material-symbols-outlined select-arrow">arrow_forward_ios</span>
            @if (form.get('evaluator2')?.valid && form.get('evaluator2')?.touched) {
              <span class="material-symbols-outlined success-icon mr-8">check_circle</span>
            }
          </div>
          @if (isFieldInvalid('evaluator2')) {
            <span class="text-textbox-alert">Debe seleccionar el segundo evaluador</span>
          }
        </div>

      </div>

      <div class="flex justify-end gap-4 mt-10">
        <app-button-component
          label="Asignar evaluadores"
          variant="primary"
          type="submit"
        ></app-button-component>
      </div>

    </section>
  </form>
</div>
