<div class="p-6 bg-white rounded-lg w-full">
  <form [formGroup]="facade.form" (ngSubmit)="submit()" class="flex flex-col gap-8">

    <app-info-banner title="Asignación de jurados evaluadores">
      Seleccione los docentes encargados de realizar la evaluación de este anteproyecto. Recuerde <strong>verificar los posibles conflictos de interés</strong> antes de proceder con la asignación. Una vez confirmada, los jurados serán notificados para iniciar su proceso de revisión.
    </app-info-banner>

    <section>
      <h3 class="text-primary font-display font-semibold text-size-header-title mb-4 border-b pb-2">
        Información del anteproyecto
      </h3>

      <div class="flex flex-col gap-4">
        <!-- Template actualizado para soportar textarea -->
        <ng-template #readOnlyField let-label="label" let-value="value" let-isTextArea="isTextArea">
          <div class="flex flex-col gap-1">
            <span class="font-display font-semibold text-primary text-size-section">
              {{ label }}
            </span>
            @if (isTextArea) {
              <textarea id="" [value]="value || 'Sin descripción disponible'" disabled rows="4"
                        class="information-block p-2 border rounded-md text-[#777680] w-full cursor-not-allowed font-sans text-size-body resize-none"></textarea>
            } @else {
              <input id="" type="text" [value]="value" disabled
                     class="information-block p-2 border rounded-md text-[#777680] w-full cursor-not-allowed font-sans text-size-body">
            }
          </div>
        </ng-template>

        <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Título', value: preliminaryDraft().proposalData.title }"></ng-container>
        <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Descripción', value: preliminaryDraft().proposalData.description, isTextArea: true }"></ng-container>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Fecha de carga', value: (preliminaryDraft().createdData | date:'dd - MM - yyyy') }"></ng-container>
            <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Modalidad del trabajo de grado', value: preliminaryDraft().proposalData.modality }"></ng-container>
        </div>

        <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Estudiante', value: facade.getAuthorsNames(preliminaryDraft().proposalData.authors) }"></ng-container>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Director', value: facade.getMemberFullName(preliminaryDraft().proposalData.director) }"></ng-container>
            @if (preliminaryDraft().proposalData.codirector) {
                <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Codirector', value: facade.getMemberFullName(preliminaryDraft().proposalData.codirector) }"></ng-container>
            }
        </div>

        @if (preliminaryDraft().proposalData.advisor) {
          <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Asesor', value: facade.getMemberFullName(preliminaryDraft().proposalData.advisor) }"></ng-container>
        }

        <ng-container *ngTemplateOutlet="readOnlyField; context: { label: 'Estado', value: preliminaryDraft().state }"></ng-container>
      </div>
    </section>

    <section>
      <h3 class="text-primary font-display font-semibold text-size-header-title mb-4 border-b pb-2">
        Asignación de jurados
      </h3>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-4">
        <div class="flex flex-col gap-1">
          <label for="evaluator1" class="font-display font-semibold text-size-section title-textbox">
            Evaluador 1 <span class="text-[#ED7D31]">*</span>
          </label>
          <div class="relative flex items-center w-full">
            <app-searchable-select
              id="evaluator1"
              formControlName="evaluator1"
              [options]="facade.evaluator1Options()"
              placeholder="Seleccione el primer evaluador"
              [hasError]="facade.isFieldInvalid('evaluator1')"
              [isValid]="facade.isFieldValid('evaluator1')"
              class="w-full block">
            </app-searchable-select>
          </div>
          @if (facade.isFieldInvalid('evaluator1')) {
            <span class="text-textbox-alert">Debe seleccionar el primer evaluador</span>
          }
        </div>

        <div class="flex flex-col gap-1">
          <label for="evaluator2" class="font-display font-semibold text-size-section title-textbox">
            Evaluador 2 <span class="text-[#ED7D31]">*</span>
          </label>
          <div class="relative flex items-center w-full">
            <app-searchable-select
              id="evaluator2"
              formControlName="evaluator2"
              [options]="facade.evaluator2Options()"
              placeholder="Seleccione el segundo evaluador"
              [hasError]="facade.isFieldInvalid('evaluator2')"
              [isValid]="facade.isFieldValid('evaluator2')"
              class="w-full block">
            </app-searchable-select>
          </div>
          @if (facade.isFieldInvalid('evaluator2')) {
            <span class="text-textbox-alert">Debe seleccionar el segundo evaluador</span>
          }
        </div>
      </div>

      <div class="flex justify-end gap-4 mt-10">
        <app-button-component
          label="Asignar evaluadores"
          variant="primary"
          type="submit"
        ></app-button-component>
      </div>

    </section>
  </form>
</div>
