<div class="w-full min-h-screen bg-[#F8F9FA] p-4 md:p-8">

  <div class="max-w-7xl mx-auto flex flex-col gap-6">

    <button (click)="navigateBack()" class="flex items-center gap-2 text-navy-900 font-bold group w-fit transition-opacity hover:opacity-80">
      <span class="material-symbols-outlined text-[#000066] text-xl transition-transform duration-300 ease-in-out group-hover:-translate-x-1.5">
        arrow_back
      </span>
      <span class="return-arrow-option">Regresar</span>
    </button>

    @if (thesisWorkState() === null) {
      <div class="flex justify-center items-center h-60">
        <div class="animate-spin rounded-full h-10 w-10 border-t-2 border-b-2 border-primary"></div>
      </div>
    } @else {
      <app-upload-advance-form
        [thesisWork]="thesisWorkState()!"
        [isSubmitting]="isSaving()"
        (onSaveAdvance)="handleSaveRequest($event)"
        (onGoBack)="navigateBack()">
      </app-upload-advance-form>
    }

  </div>

</div>

<app-confirmation-action-modal
  [isOpen]="isConfirmModalOpen()"
  description="¿Está seguro que desea subir este avance? Quedará registrado en el historial del trabajo de grado y se notificará a sus directores para la revisión."
  (onClose)="isConfirmModalOpen.set(false)"
  (confirm)="processAdvance()">
</app-confirmation-action-modal>
