<div class="w-full min-h-screen bg-[#F8F9FA] p-4 md:p-8">

  <div class="max-w-7xl mx-auto flex flex-col gap-6">

    <button
      (click)="facade.goBack()"
      class="flex items-center gap-1 text-primary font-bold text-sm hover:opacity-80 transition-opacity w-fit"
    >
      <span class="material-symbols-outlined text-size-section font-bold">arrow_back</span>
      Regresar
    </button>

    @if (facade.preliminaryDraftState()) {
      <app-review-preliminary-draft-form
        [preliminaryDraft]="facade.preliminaryDraftState()!"
        (onSaveEvaluation)="facade.handleRequestConfirmation($event)"
        (onDownloadPreliminaryDraft)="facade.downloadCurrentDocument()">
      </app-review-preliminary-draft-form>
    }

  </div>

</div>

<app-confirmation-action-modal
  [isOpen]="facade.isConfirmModalOpen()"
  description="¿Desea finalizar la evaluación? El resultado será enviado al sistema."
  (onClose)="facade.isConfirmModalOpen.set(false)"
  (confirm)="facade.processEvaluation()">
</app-confirmation-action-modal>
