<div class="pt-2 p-8 max-w-5xl mx-auto">
  <div class="mb-2 flex justify-start">
    <button
      (click)="goBack()"
      class="flex items-center gap-2 text-navy-900 hover:text-navy-700 transition-colors font-bold group"
    >
      <span class="material-symbols-outlined text-[#000066] text-lg group-hover:-translate-x-1 transition-transform">
        arrow_back
      </span>
      <span class="return-arrow-option">Regresar</span>
    </button>
  </div>

  <div *ngIf="isLoading()" class="text-center text-gray-500">
    Cargando información...
  </div>

  <div *ngIf="!isLoading() && user()" class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-8 items-start">

    <div class="flex flex-col">
      <div class="mb-6">
        <img src="assets/images/avatar-default.png" alt="Avatar" class="w-20 h-20 rounded-full border border-gray-300 object-cover">
      </div>


      <h3 class="font-semibold font-display text-primary text-size-sidebar-title mb-6 h-7">Datos personales</h3>

      <div class="space-y-4 text-sm">
        <div class="grid grid-cols-2 gap-2">
          <span class="font-semibold font-display text-primary text-size-body">Tipo de documento</span>
          <span class="font-normal font-display text-[#000000] text-size-body">
            {{ getDocumentTypeLabel(user()?.idType) }}
          </span>
        </div>
        <div class="grid grid-cols-2 gap-2">
          <span class="font-semibold font-display text-primary text-size-body">Documento de identidad</span>
          <span class="font-normal font-display text-[#000000] text-size-body">{{ user()?.idNumber }}</span>
        </div>
        <div class="grid grid-cols-2 gap-2">
          <span class="font-semibold font-display text-primary text-size-body">Nombres</span>
          <span class="font-normal font-display text-[#000000] text-size-body">{{ user()?.firstName }} {{ user()?.secondName || '' }}</span>
        </div>
        <div class="grid grid-cols-2 gap-2">
          <span class="font-semibold font-display text-primary text-size-body">Apellidos</span>
          <span class="font-normal font-display text-[#000000] text-size-body">{{ user()?.lastName }} {{ user()?.secondLastName }}</span>
        </div>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="h-24 mb-6 hidden md:block"></div>

      <h3 class="font-semibold font-display text-primary text-size-sidebar-title text-lg mb-6 h-7">Datos institucionales</h3>

      <div class="space-y-4 text-sm">
        <div class="grid grid-cols-2 gap-2">
          <span class="font-semibold font-display text-primary text-size-body">Código</span>
          <span class="font-normal font-display text-[#000000] text-size-body">{{ user()?.codeNumber }}</span>
        </div>
        <div class="grid grid-cols-2 gap-2">
          <span class="font-semibold font-display text-primary text-size-body">Correo institucional</span>
          <span class="font-normal font-display text-[#000000] text-size-body">{{ user()?.email }}</span>
        </div>

        <div class="grid grid-cols-2 gap-2">
          <span class="font-semibold font-display text-primary text-size-body">Rol</span>
          <div class="flex flex-col gap-1">
            <span *ngFor="let rol of user()?.roles" class="font-normal font-display text-[#000000] text-size-body">
                • {{ rol }}
            </span>
            <span *ngIf="user()?.roles?.length === 0" class="font-normal font-display text-[#000000] text-size-body">
              Sin roles asignados
            </span>
          </div>
        </div>
      </div>

      <div class="flex justify-end mt-12">
        <app-button-component
          label="Salir"
          variant="secondary"
          type="button"
          (onClick)="goBack()">
        </app-button-component>
      </div>
    </div>

  </div>
</div>
